section#portfolio.portfolio-details
  .container
    .row
      .col-lg-12 
        article
          h2 Portfólio 
      .col-lg-12
        .owl-carousel.owl-theme
          a(href='images/fotos/apt-recife/1.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/apt-recife/1.jpg", alt="")
          a(href='images/fotos/apt-recife/2.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/apt-recife/2.jpg", alt="")
          a(href='images/fotos/apt-recife/3.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/apt-recife/3.jpg", alt="")
          a(href='images/fotos/apt-recife/4.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/apt-recife/4.jpg", alt="")
          a(href='images/fotos/apt-recife/5.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/apt-recife/5.jpg", alt="")

        article
          h4 Consultorias móvel- Recife
          p Consultoria prestada em móvel, cozinha e bar
          dl 
            dt Categoria:
            dd Designer - Consultoria
            dt Data:
            dd 29/02/2020
            dt Cidade: 
            dd Recife PE 

