section#portfolio.portfolio-details
  .container
    .row
      .col-lg-12 
        article
          h2 Portfólio 
      .col-lg-12
        .owl-carousel.owl-theme
          a(href='images/fotos/lojinha-bete/1.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/lojinha-bete/1.jpg", alt="")
          a(href='images/fotos/lojinha-bete/2.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/lojinha-bete/2.jpg", alt="")
          a(href='images/fotos/lojinha-bete/3.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/lojinha-bete/3.jpg", alt="")
          a(href='images/fotos/lojinha-bete/4.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/lojinha-bete/4.jpg", alt="")
          a(href='images/fotos/lojinha-bete/5.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/lojinha-bete/5.jpg", alt="")
          a(href='images/fotos/lojinha-bete/6.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/lojinha-bete/6.jpg", alt="")

        article.portfolio-datalist
          h4 Designer de interiores
          p Consultorias Lojinha bete - Fortaleza
          dl 
            dt Categoria:
            dd Designer - Consultoria
            dt Data:
            dd ?
            dt Cidade: 
            dd Fortaleza CE 

