mixin container-foto(href, valor, img)
  .container-foto
    .ver-mas
      a.link.link-media--zap(href=href title='Maximizar' data-gall="produtosGallery" class="venobox vbox-item")
        span.icon-eye
      a.link.link-media--zap(href='#' title='Entre em contato')
        span.icon-circle-whats
          span.path1
          span.path2
          span.path3
    article.text-left
      p.title
        = valor
    img(src=img alt='')

section#produtos.bg-section
  .container
    .row
      .col-lg-12
        article
          h2 Produtos
          p Colares Artesanais e Penduradores artesanais
        .d-flex.justify-content-center
          ul#portfolio-flters
            li(data-filter="*" class='filter-active') Todos 
            li(data-filter=".filter-colar") Colares
            li(data-filter=".filter-penduradores") Penduradores
    .row.portfolio-grid.aos-init.aos-animate(data-aos='fade-up' data-aos-delay='100')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/1.jpg','R$ 192,00','images/fotos/produtos/1.jpg')
      .col-md-4.filter-penduradores.portfolio-item
        +container-foto('images/fotos/penduradores/1.jpg','R$ 192,00','images/fotos/penduradores/1.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/2.jpg','R$ 98,00','images/fotos/produtos/2.jpg')
      .col-md-4.filter-penduradores.portfolio-item
        +container-foto('images/fotos/penduradores/2.jpg','R$ 192,00','images/fotos/penduradores/2.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/3.jpg','R$ 142,00','images/fotos/produtos/3.jpg')
      .col-md-4.filter-penduradores.portfolio-item
        +container-foto('images/fotos/penduradores/3.jpg','R$ 192,00','images/fotos/penduradores/3.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/4.jpg','R$ 100,00','images/fotos/produtos/4.jpg')
      .col-md-4.filter-penduradores.portfolio-item
        +container-foto('images/fotos/penduradores/4.jpg','R$ 192,00','images/fotos/penduradores/4.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/5.jpg','R$ 110,00','images/fotos/produtos/5.jpg')
      .col-md-4.filter-penduradores.portfolio-item
        +container-foto('images/fotos/penduradores/6.jpg','R$ 192,00','images/fotos/penduradores/6.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/6.jpg','R$ 175,00','images/fotos/produtos/6.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/7.jpg','R$ 175,00','images/fotos/produtos/7.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/7.jpg','R$ 175,00','images/fotos/produtos/7.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/8.jpg','R$ 175,00','images/fotos/produtos/8.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/9.jpg','R$ 175,00','images/fotos/produtos/9.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/10.jpg','R$ 175,00','images/fotos/produtos/10.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/11.jpg','R$ 175,00','images/fotos/produtos/11.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/12.jpg','R$ 175,00','images/fotos/produtos/12.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/13.jpg','R$ 175,00','images/fotos/produtos/13.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/15.jpg','R$ 175,00','images/fotos/produtos/15.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/16.jpg','R$ 175,00','images/fotos/produtos/16.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/17.jpg','R$ 175,00','images/fotos/produtos/17.jpg')
      .col-md-4.filter-colar.portfolio-item
        +container-foto('images/fotos/produtos/18.jpg','R$ 175,00','images/fotos/produtos/18.jpg')
