section#portfolio.portfolio-details
  .container
    .row
      .col-lg-12 
        article
          h2 Portfólio 
      .col-lg-12
        .owl-carousel.owl-theme
          a(href='images/fotos/prototipos/1.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/prototipos/1.jpg", alt="")
          a(href='images/fotos/prototipos/2.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/prototipos/2.jpg", alt="")
          a(href='images/fotos/prototipos/3.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/prototipos/3.jpg", alt="")
          a(href='images/fotos/prototipos/4.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/prototipos/4.jpg", alt="")
          a(href='images/fotos/prototipos/5.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/prototipos/5.jpg", alt="")
          a(href='images/fotos/prototipos/6.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/prototipos/6.jpg", alt="")
            
        article.portfolio-datalist
          h4 Protótipos
          p Protótipo Mesa: Inspiração Designer Nanna Ditzel
          dl 
            dt Categoria:
            dd Design
            dt Data:
            dd ?
            dt Cidade: 
            dd Brasília - DF

