section#portfolio.portfolio-details
  .container
    .row
      .col-lg-12 
        article
          h2 Portfólio 
      .col-lg-12
        .owl-carousel.owl-theme
          a(href='images/fotos/salao2/1.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao2/1.jpg", alt="")
          a(href='images/fotos/salao2/2.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao2/2.jpg", alt="")
          a(href='images/fotos/salao2/3.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao2/3.jpg", alt="")
          a(href='images/fotos/salao2/4.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao2/4.jpg", alt="")
          a(href='images/fotos/salao2/5.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao2/5.jpg", alt="")
          a(href='images/fotos/salao2/6.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao2/6.jpg", alt="")
          a(href='images/fotos/salao2/7.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao2/7.jpg", alt="")
 
        article.portfolio-datalist
          h4 Designer de interiores
          p Consultoria salão de beleza
          dl 
            dt Categoria:
            dd Design
            dt Data:
            dd ?
            dt Cidade: 
            dd Brasília - DF

