section#portfolio.portfolio-details
  .container
    .row
      .col-lg-12 
        article
          h2 Portfólio 
      .col-lg-12
        .owl-carousel.owl-theme
          a(href='images/fotos/salao/1.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/1.jpg", alt="")
          a(href='images/fotos/salao/2.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/2.jpg", alt="")
          a(href='images/fotos/salao/3.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/3.jpg", alt="")
          a(href='images/fotos/salao/4.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/4.jpg", alt="")
          a(href='images/fotos/salao/5.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/5.jpg", alt="")
          a(href='images/fotos/salao/6.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/6.jpg", alt="")
          a(href='images/fotos/salao/7.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/7.jpg", alt="")
          a(href='images/fotos/salao/8.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/8.jpg", alt="")
          a(href='images/fotos/salao/9.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/9.jpg", alt="")
          a(href='images/fotos/salao/10.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/10.jpg", alt="")
          a(href='images/fotos/salao/11.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/11.jpg", alt="")
          a(href='images/fotos/salao/12.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/salao/12.jpg", alt="")   
        article.portfolio-datalist
          h4 Designer de interiores
          p Consultoria salão de beleza
          dl 
            dt Categoria:
            dd Design
            dt Data:
            dd ?
            dt Cidade: 
            dd Brasília - DF

