section#portfolio.portfolio-details
  .container
    .row
      .col-lg-12 
        article
          h2 Portfólio 
      .col-lg-12
        .owl-carousel.owl-theme
          a(href='images/fotos/vitrine/1.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/vitrine/1.jpg", alt="")
          a(href='images/fotos/vitrine/2.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/vitrine/2.jpg", alt="")
          a(href='images/fotos/vitrine/3.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/vitrine/3.jpg", alt="")
          a(href='images/fotos/vitrine/4.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/vitrine/4.jpg", alt="")
          a(href='images/fotos/vitrine/5.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/vitrine/5.jpg", alt="")
          a(href='images/fotos/vitrine/6.jpg' data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
            img(src="images/fotos/vitrine/6.jpg", alt="")
 
        article.portfolio-datalist
          h4 Designer de interiores
          p Vitrine Mãe, dia das Mães. Vitrine Primavera.
          dl 
            dt Categoria:
            dd Design - Vitrine
            dt Data:
            dd ?
            dt Cidade: 
            dd Brasília - DF

