footer.bg-footer.bg-homeStyle
  article.bg-house
    figure.text-center
      img(src="images/logofooter.svg", alt="Logo Maria Rita" width='300px')
.subfooter.bg-subfooter
  span
    | Copyright ® 2021 todos os direitos reservados https://www.mrdesigner.arq.br
  span
    | Developement by 
    a.link.link-deep(href='https://github.com/viruzvz' target='_blank') Carlosvz