header
  nav.nav-sticky
    .navbar.navbar-expand-lg.navbar-dark.nav-dark(aria-label='Main navbar')
      .container-fluid
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='#') Home
            li.nav-item
              a.nav-link(href='#') Quem somos
            li.nav-item
              a.nav-link(href='#') Portfólio
            li.nav-item
              a.nav-link(href='#') Contatos
          ul.navbar-nav.mb-2.mb-lg-0.align-items-end
            a.nav-link.link-facebookDeep(href='#')
              span.icon-circle-face.fs-4
                span.path1
                span.path2
            a.nav-link.link-instagramDeep(href='#')
              span.icon-circle-insta.fs-4
                span.path1
                span.path2
            a.nav-link.link-whatsDeep(href='#')
              span.icon-circle-whats.fs-4
                span.path1
                span.path2
                span.path3
          
    .nav-style-1
    .nav-style-2
    .nav-style-3
  section.header-bg.header
    .loader
      span
      span
      span
      span
    .header-logo
      img(src="images/logo.svg", alt="")
    .header-caption 
      | Designer de Interiores
      <br>
      span Projeto
      span Consultoria
      span Vitrine
