// colors
$style-1: #D9E021;
$style-2: #F15A24;
$style-3: #93278F;
$style-4: #9E005D;
$style-5: #173B6C;
$style-6: #754C24;
$style-7: #42210B;
// main colors
$primary: #000000;
$secondary: #E8D6B2;
$tertiary: #FFFFFF;
$taurus2: #114d82;
$default: #f1f1f1;
$cousin: #faa731;
$link: #27425c;
$linkhover: #3e6892;
$cut: #CCCCCC;

// Transitions
$linktransition: color 0.15s linear;

// Scales
$giga:                        96px;
$mega:                        72px;
$kilo:                        48px;
$pounds:                      40px;
$alpha:                       36px;
$beta:                        32px;
$gamma:                       28px;
$delta:                       24px;
$epsilon:                     20px;
$zeta:                        18px;
$eta:                         16px;
$milli:                       12px;
$micro:                       10px;
