.footer {
  min-height: 305px;
	position: relative;
	background-image: url('../../images/bg-house-full.png');
	background-position: bottom, center;
	background-repeat: no-repeat;
	background-size: cover;
}
.subfooter {
	color: #ccc;
	font-size: 12px;
	display: flex;
	padding: 15px;
	span {
		width: 45%;
		text-align: end;
		&:first-child {
			width: 55%;
		}
	}
}
