.link {
	transition: all 0.2s linear;
	text-decoration: none;
}

.link-media--zap {
  &:hover {
    a {
      color: green !important;
    }
    .path2 {
      &::before {
        color: green !important;
      }
    }
  }
}

.link-media--ins {
  &:hover {
    a {
      color: #d10059 !important;
    }
    .path2 {
      &::before {
        color: #d10059 !important;
      }
    }
  }
}

.link-media--zap,
.link-media--be,
.link-media--ins,
.link-media {
  a {
    color: $link;
    text-decoration: none;
    font-size: 14px;
  }
  .path2 {
    &::before {
      transition: all 0.2s linear;
    }
  }
  &:hover {
    a {
      color: #1877f2;
    }
    .path2 {
      &::before {
        color: #1877f2;
      }
    }
  }
}

.link-facebookDeep,
.link-instagramDeep,
.link-whatsDeep {
  .path1 {
    &::before {
      transition: all 0.2s linear;
      color: #333333;
    }
  }
}

.link-facebookDeep {
  &:hover {
    .path1 {
      &::before {
        color: #1877f2;
      }
    }
  }
}

.link-instagramDeep {
  &:hover {
    .path1 {
      &::before {
        color: #d10059;
      }
    }
  }
}

.link-whatsDeep {
  &:hover {
    .path1 {
      &::before {
        color: #48a91f;
      }
    }
  }
}

.active {
  a {
    color: #fff !important;
    border-bottom: 4px solid #e39ce5;
  }
}

.link-deep {
  color: #fff;
  &:hover {
    color: #1877f2;
  }
}