.nav-style-1,
.nav-style-2,
.nav-style-3 {
  height: 3px;
}

.nav-style-1 {
  background-color: $style-1;
}

.nav-style-2 {
  background-color: $style-2;
}

.nav-style-3 {
  background-color: $style-3;
}

.nav-dark {
  background-color: #000000;
}

.nav-sticky {
  position: sticky;
	top: 0;
	z-index: 3;
}