/* clear fix */
.portfolio-grid:after {
  content: '';
  display: block;
  clear: both;
}

.portfolio-wrap {
  position: relative;
  margin-bottom: 30px;
  img {
    transition: .5s ease-out;
  }
  &:hover {
    img {
      filter: blur(3px);
    }
    .portfolio-links {
      opacity: 1;
    }
  }
}


.portfolio-links {
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  transition: .2s ease-out;
  display: flex;
  a {
    text-align: center;
    padding: 10px 15px;
    width: 50%;
    color: white;
    transition: .5s ease-out;
    text-decoration: none;
    &:hover {
      color: $secondary;
      background-color: rgba(0, 0, 0, 0.5);
    }
    &:first-child {
      border-right: 1px solid #999;
    }

  }
}


.portfolio-item {
  margin-bottom: 30px;
}

#portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
  li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #149ddd;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  li.filter-active {
    color: #149ddd;
  }
}
